<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>Future Frontend - Digi Outsource Modern Frontend Build Tool | Developer Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    {% include "./components/header_scripts.njk" %}
</head>
<body class="fixed-header">
<!-- BEGIN SIDEBAR -->
<!-- BEGIN SIDEBPANEL-->
{% include "./components/page-sidebar.njk" %}
<!-- END SIDEBAR -->
<!-- END SIDEBAR -->
<!-- START PAGE-CONTAINER -->
{% include "./components/page-container.njk" %}
<!-- END PAGE CONTAINER -->
<!--START QUICKVIEW -->
{% include "./components/page-quickview.njk" %}
<!-- END QUICKVIEW-->
<!-- START OVERLAY -->
{% include "./components/page-overlay-hide.njk" %}
<!-- END OVERLAY -->
<!-- BEGIN VENDOR JS -->
<!-- BEGIN VENDOR JS -->
{% include "./components/footer_scripts.njk" %}

</body>
</html>
